################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS-Course/.vs/CS-Course/FileContentIndex/72ff9e03-dfee-44d6-918a-bfbd014ded32.vsidx
